:root {
--C1: #1f2631;
--C2: #080f13;
}

* {
font-family: arial;
color: var(--C1);
text-decoration: none;
text-align: center;
border-radius: 8px;
font-size: 25px;
animation: M 1s;
}

body {background-color: var(--C2) !important;}

form {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}

input {
margin: auto !important;
display: block !important;
background-color: #1f2631 !important;
border: 2px solid #1f2631 !important;
animation: M 1s !important;
}

#btn {
width: 320px;
height: 320px;
background-color: var(--C1);
border-radius: 100%;
box-shadow: 0px 0px 25px black;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
animation: H 5s infinite;
z-index: -5;
}

img {
box-shadow: 0px 0px 10px black ;
position: absolute;
width: 27%;
transform: translate(-50%, -50%);
}

#img1 {top: 36%; left: 20%;}

#img2 {top: 65%; left: 20%;}

#img3 {top: 21%; left: 50%;}

#img4 {top: 50%; left: 50%;}

#img5 {top: 79%; left: 50%;}

#img6 {top: 36%; left: 80%;}

#img7 {top: 65%; left: 80%;}

@keyframes M {

0% {opacity: 0.5;}

100% {opacity: 1;}}

@keyframes H {

0% {height: 320px; width: 320px}

50% {height: 340px; width: 340px;}

0% {height: 320px; width: 320px}}
